.task-container {
    background-color: lightblue;
    border: solid 1px grey;
    margin-bottom: 0.25rem;
    padding: 1rem;
}

.input-container li {
    list-style-type: none;
}

.task-description {
    margin-bottom: 1rem;
}